<!DOCTYPE html>
<html>
  <head>
    <title>PostBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'https://bootswatch.com/4/minty/bootstrap.css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
  <%= link_to "Post Board", home_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto navbar-right">
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Create Post", new_post_path, class: "nav-link navbar-right" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Join Us", new_user_registration_path, :class => "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
<!-- Devise alerts -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

	<div class="container">
    <%= yield %>
	</div>
  </body>
</html>
